

.container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .head{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    margin-left: 70px;
}

.container > .head h1, .container > .head a {
    flex: 1; /* Distribui o espaço disponível igualmente entre h1 e a */
    text-align: center; /* Centraliza o texto dentro de h1 e a */
}

.head > .title-head{
    color: #D5DEEF;
    font-size: 60px;
    
}
.link-head{
    color: F0F3FA;
    margin-left: 60px;
    font-size: 60px;
}

.container-calculadora-juros{
    background-color: #F0F3FA;
    margin-top: 30px;
    margin: 0 auto;
    width: 80%;
    height: 800px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.container-calculadora-juros > .title-calculadora-juros{
    font-size: 12px;
    margin: 25px;
}

.input-um{
    display: flex;
    flex-direction: colum;
    align-items: center;
}

.valor-inicial {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.label-valor-inicial {
    margin-bottom: 5px; /* Adiciona um espaçamento inferior */
}

.input-valor-inicial {
    width: 100%; /* Garante que o input ocupe toda a largura */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}