<div class="container">

    <div class="head">
        <h1 class="title-head">Focco</h1>
        <a href="#" class="link-head">=</a>
    </div>

    <div class="container-calculadora-juros">
        <div class="title-calculadora-juros">
            <h1>Calculadora</h1>
            <h1>Juros Compostos</h1>
        </div>
       

        <form [formGroup]="jurosCompostos" (ngSubmit)="submit()" #formdir="ngForm">
    
            <div id="formGroup" class="formgroup">

                <div class="valor-inicial">
                    <label for="" class="label-valor-inicial">Valor Inicial</label>
                    <div class="barra">
                        <div class="quadrado-sifrao"><span class="span-input">R$</span></div>
                        <input type="number" id="valorInicial" formControlName="valorInicial" placeholder=" 0,00" autocomplete="off" class="input-valor-inicial" required>
                    </div>
                </div>
                <div class="valor-inicial">
                    <label for="" class="label-valor-inicial ">Valor Mensal</label>
                    <div class="barra">
                        <div class="quadrado-sifrao"><span class="span-input">R$</span></div>
                        <input type="number" id="valorMensal" formControlName="valorMensal" placeholder=" 0,00" class="input-valor-inicial" required>
                    </div>
                </div>
                
                <div class="valor-inicial">
                    <label for="">Taxa De juros</label>
                    <select id="typeTax" formControlName="typeTax" class="quadrado-select" required>
                        <option value="Anual">Anual</option>
                        <option value="Mensal">Mensal</option>
                    </select>
                    <div class="barra">
                        <div class="quadrado-sifrao"><span class="span-input">%</span></div>
                        <input type="number" id="taxaJuros" formControlName="taxaJuros" placeholder="0,00" class="input-valor-inicial" required>
                    </div>
                </div>
        
                
                <div class="valor-inicial">
                    <label for="">Periodo em</label>
                    <div class="barra">
                        <input type="number" id="tempo" formControlName="tempo" placeholder=" 0,00" class="input-periodo" required>
                    </div>
                    <select id="typeTime" formControlName="typeTime" class="quadrado-select" required>
                        <option value="Anos">Anos</option>
                        <option value="Meses">Meses</option>
                    </select>
                </div>
        
                <button type="submit" class="btn-calcular" [disabled]="!jurosCompostos.valid">Calcular</button>
                <button class="btn-limpar">Limpar</button>    
            </div>
        </form>
    </div>


</div>
