*{
    font-family: "Inter", sans-serif;
}


.container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .head{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    margin-left: 70px;
}

.container > .head h1, .container > .head a {
    flex: 1; /* Distribui o espaço disponível igualmente entre h1 e a */
    text-align: center; /* Centraliza o texto dentro de h1 e a */
}

.head > .title-head{
    margin-top: 20px;
    color: #D5DEEF;
    font-size: 50px;
    
}
.link-head{
    margin-top: 20px;
    color: #F0F3FA;
    margin-left: 60px;
    font-size: 40px;
}

.container-calculadora-juros{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #F0F3FA;
    margin-top: 40px;

    width: 90%;
    height: 590px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.container-calculadora-juros > .title-calculadora-juros{
    font-size: 10px;
    color: #395886;
    margin: 25px;
}


.formgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor-inicial {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.label-valor-inicial {
    margin-bottom: 5px; 
}

.input-valor-inicial {
    width: 250px;
    padding: 15px;
    padding-left: 55px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px; 
    border: none;
    background-color: #D5DEEF;
    box-shadow: 1px 1px 15px rgb(168, 168, 168);

}

.quadrado-sifrao{
    width: 45px;
    height: 46px;
    background-color: #628BEC;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    color: #D5DEEF;
}


.quadrado-select{
    width: 80px;
    height: 46px;
    position: absolute;
    margin-top: 19px;
    border: none;
    background-color:#628BEC;
    color: #D5DEEF;
    border-radius: 0px 10px 10px 0px;
    margin-left: 170px;
    padding-left: 10px;
    font-size: 15px;
}

.span-input{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

.input-periodo{
    width: 250px;
    padding: 15px;
    padding-left: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px; 
    border: none;
    background-color: #D5DEEF;
    box-shadow: 1px 1px 15px rgb(168, 168, 168);

}

.btn-calcular{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:15px;
    padding-bottom:15px;
    border: none;
    color: #D5DEEF;
    background-color: #628BEC;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 1px 1px 15px rgb(168, 168, 168);
}

.btn-limpar{
    margin-top: 15px;
    border: none;
    color: #395886;
    font-size: 15px;
}

